.section {
    padding: 100px 0;
    background-color: #E6F9F5;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.quote {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 40px;
    color: #1F4B40;
}

.author {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: normal;
    color: #1F4B40;
    opacity: 0.9;
}

/* Responsiveness */
@media (max-width: 768px) {
    .quote {
        font-size: 1.6rem;
    }

    .section {
        padding: 60px 0;
    }
}