.marqueeContainer {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0 25px 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8rem;
    word-spacing: 0.4rem;
    background-color: transparent;
    color: var(--primary-dark);
}

.track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll linear infinite;
}

.content {
    display: inline-block;
    padding-right: 20px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}