.marqueeContainer {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0 25px 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8rem;
    word-spacing: 0.4rem;
    background-color: transparent;
    color: var(--primary-dark);
    display: flex;
}

.marqueeContent {
    display: flex;
    white-space: nowrap;
    animation: scroll linear infinite;
}

.track {
    white-space: nowrap;
    padding-right: 20px;
}

@keyframes scroll {

    /* 
       Le conteneur scroll jusqu'à -50% (car la taille totale est de 200% via les span doublés), 
       ce qui ramène visuellement le début du 2ème span exactement là où le 1er span avait commencé.
    */
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}